<div class="container">
<div class="border-list-div">
	<div class="row" style="margin-left: -10px; margin-bottom: -15px">
		<% if usuario_signed_in? %>
		<% ape = current_usuario.apellido.capitalize %> 
		<% nom = current_usuario.nombre.capitalize %> 
		<div class="col-md-6">
			<h1> Bienvenido <%= nom %>!</h1>
		</div>
		<div class="col-md-6" style=" text-align: right;">
			<div class="col-md-10" style=" text-align: right;">
				<span> Logeado como <%= nom%> <%= ape%> </span>
				<br/>
				<span style="font-size: 12px; font-style: italic; color: grey"> <%= current_usuario.email %> </span>

			</div>
			<div class="col-md-2">
				<div class="image-container">
					<%= image_tag current_usuario.foto, title:"FotoUsuario", class:"listadogau"%>
				</div>
			</div>
		</div>
		<% else %>
		<h1> Bienvenido!</h1>
		<% end %>

	</div>
	<h3> ¿Que desea hacer? </h3>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6">
			<%= link_to "Listado de Gauchadas",gauchadas_path, class: 'btn btn-warning btn-lg' %>
		<% if usuario_es_admin? %>
			<%= link_to "Listado de Logros",logros_path, class: 'btn btn-warning btn-lg' %>
		<% end %>
		</div>
		<div class="col-md-6" style="text-align: right">
			<% if usuario_signed_in? %>
			<%= link_to "Cerrar Sesion", destroy_usuario_session_path, :method => :delete, class: 'btn btn-danger btn-lg'%>
			<% else %>
			<%= link_to "Iniciar Sesion", new_usuario_session_path, class: 'btn btn-info btn-lg' %>
			<%= link_to "Registrarme", new_usuario_registration_path, class: 'btn btn-success btn-lg' %>
			<% end %>
		</div>

	</div>
</div>
</div>