<% if usuario_signed_in? %>
	<% if current_usuario.id == @gauchada.usuario_id %>
		<div class="border-form-div">
		<h2> Editar Gauchada </h2>
		<%= form_for (@gauchada) do |f| %>
			<div class="field">
				<%= f.label :titulo, 'Titulo' %>
				<%= f.text_field :titulo, required: true, placeholder: 'Ingrese un titulo' %>
			</div>
			<div class="field">
				<%= f.label :descripcion, 'Descripción' %>
				<%= f.text_area :descripcion, required: true, placeholder: 'Indique de que trata...', class: "textarea" %>
			</div>
			<div class="field">
				<%= f.label :ubicacion, 'Ubicación' %>
				<%= f.select :ubicacion, opciones_para_ubicacion, required: true%>
			</div>
			<div class="field">
				<%= f.label :foto, 'Foto' %>
				<%= f.text_field :foto, placeholder: 'Por favor, introduzca el link de la foto'%>
			</div>
			<%= f.hidden_field :id, value: @gauchada.id%>
			<div class="actions">
		    <%= f.submit "Guardar", :class=>'btn btn-primary'%>
		    <%= link_to "Cancelar", gauchadas_path, :class =>'btn btn-default' %>
		  </div>
		 <% end %>
		</div>
	<% else %>
		<div class="border-gau-md container-fluid">
			<h3> Error </h3>
			<br>
			<p> No tienes los permisos para acceder a esta funcionalidad</p>
			<br>
		<div class="row">
			<div class="col-md-12" style="float: center;"">
				<%= link_to "Aceptar", root_path , class: 'btn btn-info btn-lg' %>
			</div>
		</div>
		</div>
	<% end %>
<% else %>
		<div class="border-gau-md container-fluid">
			<h3> Error </h3>
			<br>
			<p> No tienes los permisos para acceder a esta funcionalidad</p>
			<br>
		<div class="row">
			<div class="col-md-12" style="float: center;"">
				<%= link_to "Aceptar", root_path , class: 'btn btn-info btn-lg' %>
			</div>
		</div>
		</div>
<% end %>