<% if !usuario_signed_in? %>
		<div class="alert alert-warning" role="alert"; style="width: 60%; margin-left: 20%;">
			<p style="text-align: center">
				Para ver el detalle de una gauchada debes
				<%= link_to "iniciar sesión", new_usuario_session_path%>
			</p>
		</div>
<%end%>

<div class="border-list-div">
	<h1>Listado de Gauchadas</h1>

	<div class="filtros-div" style="overflow: auto">
		<%= form_tag gauchadas_path, :method => 'get', :id => "filtros_form" do %>
		<table>
		<tr>
		<td>
		<div style="margin-right: 15px">
			<strong> Título: </strong>
			<br/>
			<%= text_field_tag :titulo, params[:titulo], placeholder: "Ingrese texto para buscar" %>
			</div>
		</td>
		<td>
		<td>
		<div style="margin-right: 15px">
			<strong> Ubicación: </strong>
			<br/>
			<div class="styled-select">
				<% text_field_tag :ubicacion, params[:ubicacion] %>
				<%= select_tag :ubicacion, options_for_select(opciones_para_ubicacion,params[:ubicacion]), prompt: "Seleccione una ubicación", :style => "height: 30px; border: 0px"%>
			</div>
			</div>
		</td>
		<td>
		<div style="margin-right: 15px">
			<table>
				<tr>
					<td style="padding-top: 13px">
						<%= check_box_tag :resueltas, true, params[:resueltas]=='true' %> 
					</td>
					<td style="padding-left: 5px; padding-top: 20px">
						<%= label_tag :resueltas, "Mostrar resueltas" %>
					</td>
				</tr>
			</table>
				
				
		</div>
		</td>
		<td>
		<div style="margin-top: 17px; margin-right: 30px">
				<%= submit_tag "Filtrar" , class: 'btn btn-default'%>
		</div>
		</td>
		<% if  (params[:resueltas].present? || params[:ubicacion].present? || params[:titulo].present?) %>
		<div id="borr"><%= render 'favors/borrarfiltros' %> </div>
		<% end %>
		</tr>
		</table>
		<% end %>
	</div>

	<div id="gauchs"><%= render 'favors/gauchadas' %> </div>
	

	<% if usuario_signed_in? %>
		<div style="padding-top: 30px; margin-bottom: -20px">
		<% if current_usuario.puntos > 0 %>
			<%= link_to "Pedir Gauchada", new_favor_path, class: 'btn btn-success btn-lg' %>
		<% else %>
			<%= link_to "No tienes puntos", new_favor_path, class: 'btn btn-default btn-lg disabled' %>
			<%= link_to "Tienda", compras_path, class: 'btn btn-success btn-lg' %>
		<% end %>
		</div>
	<% end %>
	<br>
</div>
