<% ape = Usuario.find(@favor.usuario_id).apellido.capitalize %> 
<% nom = Usuario.find(@favor.usuario_id).nombre.capitalize %> 
<% fech = @favor.created_at.to_formatted_s(:db) %>
<% ubic = @favor.ubicacion %>
<div class="border-list-div">
	<h2> Detalle de Gauchada </h2>	
	<div class= "row">
		<div class="col-md-6">
		<h3> <%= @favor.titulo %></h3> 
		<p style="font-size: 12px; font-style: italic; color: grey"> 
			creada el <%=fech%>, en <%= ubic %>, por <%= link_to nom+" "+ape, usuario_path(:id => @favor.usuario_id)%>
		</p>
		<p > <%= @favor.descripcion %> </p>
		</div>
		<div class="col-md-6" style="margin-top: 25px">
			<%= image_tag @favor.foto, title:"FotoGau", class:"img-xl"%>
		</div>
		
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<%= link_to "Volver", gauchadas_path, class: 'btn btn-info btn-lg' %>
	<% if usuario_signed_in? %>
		<a href="/comentarios/new?favor_id=<%=@favor.id%>", class="btn btn-info btn-lg">Comentar</a>
		<% if current_usuario.id != @favor.usuario_id %>
			<% if current_usuario.esta_postulado?(@favor)%>
				<!--<a href="/postulacions/new?favor_id=<%=@favor.id%>", class="btn btn-success btn-lg disabled">Ya estas postulado</a>-->
				<% posts = @favor.postulacions%>
				<% postulacion_buscada = posts.find_by usuario_id: current_usuario.id %>
				<%= link_to "Cancelar oferta", postulacion_buscada, method: :delete, data: {confirm: 'Atención! Si fuiste seleccionado y cancelas tu oferta perderás 1 punto!!'}, class: 'btn btn-danger btn-lg' %>
			<% else %>
				<a href="/postulacions/new?favor_id=<%=@favor.id%>", class="btn btn-success btn-lg">Postularse</a>
			<% end %>			
		<% else %>
			<%= link_to "Resuelta!", gauchadas_path, data: {confirm: 'Al marcar esta gauchada como resuelta, esta se cerrará'},class: 'btn btn-success btn-lg' %>
		<% end %>

	<% end %>
</div>

<div class="modal-body">
	<% if @favor.comentarios.count > 0 %>
	<div class="first-column">
		<h3 class="en-blanco"><b>Comentarios</b></h3>
		<% coments = @favor.comentarios %>
		<% coments.each do |c| %>
		<div class="border-gau-md container-fluid">
			<div class="row">
				<div class="col-md-1">
					<div class="image-container">
						<%= image_tag Usuario.find(c.usuario_id).foto, title:"FotoPerfil", class:"img-md"%>
					</div>
				</div>
				<div class="col-md-6">
					<h4><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to Usuario.find(c.usuario_id).nombre.capitalize+" "+Usuario.find(c.usuario_id).apellido.capitalize, usuario_path(:id => c.usuario_id)%></b></h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= c.texto%></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
	<% if (@favor.postulacions.count > 0) && current_usuario.id == @favor.usuario_id %>
	<div class="second-column">
		<h3 class="en-blanco"><b>Postulantes</b></h3>
		<% postulantes = @favor.postulacions%>
		<% postulantes.each do |p| %>
		<div class="border-gau-md container-fluid">
			<div class="row">
				<div class="col-md-6">
					<b><%= link_to Usuario.find(p.usuario_id).nombre.capitalize+" "+Usuario.find(p.usuario_id).apellido.capitalize, usuario_path(:id => p.usuario_id)%></b>
				</div>
				<div class="col-md-2" style="float: right;">
					<div class="btn btn-danger btn-xs">Rechazar</div>
				</div>
				<div class="col-md-2" style="float: right;">
					<div class="btn btn-success btn-xs">Aceptar</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>

