<% ape = Usuario.find(@favor.usuario_id).apellido.capitalize %> 
<% nom = Usuario.find(@favor.usuario_id).nombre.capitalize %> 
<% fech = @favor.created_at.to_formatted_s(:db) %>
<% ubic = @favor.ubicacion %>
<div class="border-list-div">
	<h2> Detalle de Gauchada </h2>	
	<div class= "row">
		<div class="col-md-6">
		<h3> <%= @favor.titulo %></h3> 
		<p style="font-size: 12px; font-style: italic; color: grey"> 
			creada el <%=fech%>, en <%= ubic %>, por <%= link_to nom+" "+ape, usuario_path(:id => @favor.usuario_id)%>
		</p>
		<p > <%= @favor.descripcion %> </p>
		</div>
		<div class="col-md-6" style="margin-top: 25px">
			<%= image_tag @favor.foto, title:"FotoGau", class:"img-xl"%>
		</div>
		
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<%= link_to "Volver", gauchadas_path, class: 'btn btn-info btn-lg' %>
	<% if usuario_signed_in? %>
		<a href="/comentarios/new?favor_id=<%=@favor.id%>", class="btn btn-info btn-lg">Comentar</a>
		<% if current_usuario.id != @favor.usuario_id %>
			<a href="/postulacions/new?favor_id=<%=@favor.id%>", class="btn btn-success btn-lg">Postularse</a>
		<% else %>
			<%= link_to "Resuelta!", gauchadas_path, data: {confirm: 'Al marcar esta gauchada como resuelta, esta se cerrará'},class: 'btn btn-success btn-lg' %>
		<% end %>
	<% end %>
</div>
<% coments = @favor.comentarios %>
<% coments.each do |c| %>
<div class="border-gau-md container-fluid">
	<div class="row">
		<div class="col-md-1">
			<div class="image-container">
				<%= image_tag Usuario.find(c.usuario_id).foto, title:"FotoPerfil", class:"img-md"%>
			</div>
		</div>
			<div class="col-md-11">
				<%= c.texto%>
			</div>	
	</div>
</div>
<% end %>
