					<div class="border-gau-sm" style="overflow: auto">
						<table >
							<tr>
								<td height="60" style="min-width: 60px; vertical-align: top">
									<div class="image-container-nav">
										<% if Usuario.find(comentario.usuario_id).foto.presence %>
										<%= image_tag Usuario.find(comentario.usuario_id).foto, title:"FotoUsuario", class:"img-sm"%>
										<% else %>
										<%= image_tag "foto_stock.png", title:"FotoUsuario", class:"img-sm"%>
										<% end %>
									</div>
								</td>
								<td>				
									<div style="margin-left: 5px;">
										<p style="font-size: 16px"><b><%= link_to Usuario.find(comentario.usuario_id).nombre.capitalize+" "+Usuario.find(comentario.usuario_id).apellido.capitalize, usuario_path(:id => comentario.usuario_id)%></b></p>
										<p style="font-size: 11px; margin-top: -15px; font-style: italic; color: grey"> <%= comentario.created_at.strftime("%d/%m/%Y %H:%M") %> </p>
										<p style="margin-top: -10px"><%= comentario.texto%></p>
									</div>
								</td>
							</tr>
						</table>
						<div style="float: right; margin-top: -10px; margin-bottom: -2px;">
							<% if (current_usuario.id == comentario.usuario_id) && (!Favor.find(comentario.favor_id).resuelta)%>
							<%= link_to "Eliminar", comentario, method: :delete, data: {confirm: '¿Esta seguro de eliminar este comentario?'}, class: 'btn btn-danger btn-xs' %>
							<% end%>

							<a class= "respuestas-link btn btn-primary btn-xs" data-section-id="respuestas-seccion-<%=comentario.id%>" href="#">
								Respuestas
								<span class="caret" style=""></span>
							</a>
						</div>
						<section id="respuestas-seccion-<%=comentario.id%>" style="display: none">
							<br/>
							<div>
								<div class="seccion-respuestas" style="overflow: auto">
									<% respuestas = comentario.answers %>
									<div id="respuestas-<%=comentario.id%>">
										<%= render respuestas %>
									</div>
								</div>
								<% if !Favor.find(comentario.favor_id).resuelta %>
									<div style="overflow: auto">
										<%= render :partial => 'answers/form', :locals => {:coment => comentario}  %>
									</div>
								<% end %>
							</div>
						</section>
					</div>