	<%= form_for @comentario , remote: true do |f| %>
		
		<%= f.hidden_field :favor_id, value: @favor.id%>
			
				<%= f.label :texto, "Escribe un comentario:" %>
				<br/>
				<%= f.text_area :texto, required: true,class: "form-control", style: "width: 99%"%>
			
			<div style="float: right; padding-top: 10px; margin-right: 1%">
				<%= f.submit "Comentar", :class=>'btn btn-primary'%>
			</div>
    		
	<% end %>
