	<%= form_for (@comentario) do |f| %>
		
		<%= f.hidden_field :favor_id, value: @favor.id%>
			
				<%= f.label :texto, "Escribe un comentario:" %>
				<br/>
				<%= f.text_area :texto, required: true,class: "form-control"%>
			
			<div style="float: right; padding-top: 10px;">
				<%= f.submit "Comentar", :class=>'btn btn-primary'%>
			</div>
    		
	<% end %>
