<div class="border-form-div">
	<h2> Nuevo comentario </h2>
	<p style="font-size: 12px; color: grey; font-style: italic"> para gauchada: "<%= Favor.find(@favor_id).titulo%>" por <%= Favor.find(@favor_id).usuario.nombre.capitalize%> <%= Favor.find(@favor_id).usuario.apellido.capitalize %></p>
	<%= form_for (@comentario) do |f| %>
		<div class="field">
			<%= f.label :texto, "Comentario:" %>
			<%= f.text_area :texto, class: "textarea"%>
		</div>
		<%= f.hidden_field :favor_id, value: @favor_id%>
		<div class="actions">
    		<%= f.submit "Comentar", :class=>'btn btn-primary'%>
    		<%= link_to "Cancelar", favor_path(:id => @favor_id), :class =>'btn btn-default' %>
  		</div>
	<% end %>
</div>