<div class="border-form-div">
<h2>Cambia tu contraseña</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Contraseña" %>
    <span class= 'error'> <%=  error_atributo :password %> </span>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'Mínimo ' +@minimum_password_length.to_s+' caracteres'  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confación de contraseña" %>
    <span class= 'error'> <%=  error_atributo :password_confirmation %> </span>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Cambiar contraseña", :class=>'btn btn-primary' %>
    <%= link_to "Cancelar", root_path, :class =>'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
