<% if !usuario_signed_in? %>
<div class="alert alert-warning" role="alert">Para ver el detalle de una gauchada debes iniciar sesión</div>
<%end%>
<div class="page-header">
  <h3 class="text-center">Listado de Gauchadas</h3>
</div>
<div class="container">
<table class="table table-striped">
	<tbody>	
		<% favores = Favor.all %>
		<% favores.each do |f| %>
		<% string = "favor_"+f.id.to_s+".png"%>
		<tr>
			<td><%= f.titulo%></td>
			<td><%= image_tag string, title: "FotoGau", class:"listadogau"%></td>
			<td><% if usuario_signed_in? %>
				<%= link_to "Ver Detalle", favore_path(:id => f.id), class: 'btn btn-warning btn-xs' %>
				<% else %>
				<%= link_to "Ver Detalle", favore_path(:id => f.id), class: 'btn btn-default btn-xs disabled' %>
				<% end %>
				</td>
		</tr>
		<% end %>
	</tbody>	
</table>
</div>
<%= link_to "Volver", root_path, class: 'btn btn-info btn-xs' %>
<br>

