<div class="border-list-div">
	<% ape = @usuario.apellido.capitalize %> 
	<% nom = @usuario.nombre.capitalize %> 

	<h2> Perfil de <%= nom %> <%= ape %></h2>

	<div class="border-element-div" style="overflow: auto; width: 90%">
		<h3 style="width: 400px">
			Información de cuenta
		</h3>	
		<table>
			<tr>
				<td>
					<div class="image-container-prof" style="margin-right: 25px">
						<% if current_usuario.foto.presence %>
						<%= image_tag @usuario.foto, title:"FotoUsuario", class:"img-lg"%>
						<% else %>
						<%= image_tag "http://i.imgur.com/T3dcCez.png", title:"FotoUsuario", class:"img-lg"%>
						<% end %>
					</div>
				</td>
				<td style="vertical-align: top; text-align: left;">
					<div style="display: inline-block; padding-right: 15px">
						<p><strong> Email: </strong> <%= @usuario.email %></p>
						<p><strong> Fecha de Nacimiento: </strong> <%= @usuario.fecha_de_nacimiento.strftime("%d/%m/%Y") %></p>
						<p><strong> Usuario desde: </strong> <%=  @usuario.created_at.strftime("%d/%m/%Y %H:%M") %> </p>
						<p><strong> Ubicación: </strong> <%= @usuario.ubicacion %> </p>			
						<% if @usuario.es_mujer %>
						<p><strong> Sexo: </strong>Femenino</p>
						<% else %>
						<% if !@usuario.es_mujer %>
						<p><strong> Sexo: </strong>Masculino</p>
						<% else %>
						<% end %>
						<% end %>
						<p><strong> Logro: </strong> <%= calc_logro(@usuario.puntos) %> </p>
						<p><strong> Puntos: </strong> <%= @usuario.puntos %> </p>
					</div>
				</td>
			</tr>
		</table>
		<div style="float: right; margin-top: -10px">
			<% if @usuario == @current_usuario %>
			<%= link_to "Editar", edit_usuario_registration_path, class: 'btn btn-primary' %>
			<% end %>
		</div>
		
		
	</div>



	<div class="row" >
		<div class="col-md-6">
			<div class="border-element-sm-div" style="">
				<h3 style="width: 1000px">Listado de Gauchadas</h3>
				<% favores = Favor.where(:usuario_id => @usuario.id) %>
				<% favores.each do |f| %>
				<div class="border-gau-sm" style="overflow: auto">
					<table>
						<tr>
							<td style="vertical-align: top">
								<div class="image-container-nav">
									<%= image_tag f.foto, title:"FotoGau", class:"img-sm"%>
								</div>
							</td>
							<td>
								<div style="display: inline-block; margin-left: 10px;">
									<p style="margin-bottom: -3px"> <%= f.titulo%> </p>
									<p style="font-style: italic; font-size: 11px; color: grey; padding-bottom: 8px"> Creada el <%= f.created_at.strftime("%d/%m/%Y %H:%M") %> en <%= f.ubicacion %></p>
								</div>
							</td>
						</tr>
					</table>
					<div style="float: right; margin-top: -18px; margin-bottom: -2px">
						<% if (current_usuario.id == f.usuario_id)%>
						<%= link_to "Eliminar", f, method: :delete, data: {confirm: '¿Esta seguro de eliminar esta gauchada?'}, class: 'btn btn-danger btn-xs' %>
						<% end%>
						<%= link_to "Ver Detalle", favor_path(:id => f.id), class: 'btn btn-warning btn-xs' %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="border-element-sm-div" style="">
				<h3 style="width: 1000px">Listado de Postulaciones</h3>
				
				<% favores = Favor.where.not(:usuario_id => @usuario.id)%>
				<%  @count = 0 
				    favores.each do |f| 
					flag = false 
					 f.postulacions.each do |p| 
						 if p.usuario_id == @usuario.id 
							flag = true 
							@count = @count+1
							break		
						end 
					 end 
					 if flag %>
				<div class="border-gau-sm" style="overflow: auto;">
					<table>
						<tr>
							<td style="vertical-align: top">
								<div class="image-container-nav">
									<%= image_tag f.foto, title:"FotoGau", class:"img-sm"%>
								</div>
							</td>
							<td>
								<div style="display: inline-block; margin-left: 10px">
									<p style="margin-bottom: -3px"> <%= f.titulo%> </p>
									<p style="font-style: italic; font-size: 11px; color: grey; padding-bottom: 8px"> Creada el <%= f.created_at.strftime("%d/%m/%Y %H:%M") %> en <%= f.ubicacion %> por <%= link_to Usuario.find(f.usuario_id).nombre.capitalize+" "+Usuario.find(f.usuario_id).apellido.capitalize, usuario_path(:id => f.usuario_id)%></p>
								</div>
							</td>
						</tr>
					</table>
					<div style="float: right; margin-top: -18px; margin-bottom: -2px">
						<%= link_to "Ver Detalle", favor_path(:id => f.id), class: 'btn btn-warning btn-xs' %>
					</div>
				</div>
					<% end %>
				<% end %>
				<% if @count == 0 %>
					<p style="font-style: italic; color: grey; margin-left: 10px"> El usuario no tiene postulaciones</p>
				<% end %>
			</div>
		</div>
	</div>
	<%= link_to "Volver", root_path , class: 'btn btn-info btn-lg' %>
</div>