<!-- contenido del correo -->

<p>Hola <%= @usuario.nombre.capitalize %>!</p>
<p>Usted ha sido elegido para resolver la gauchada <b><%= @gauchada.titulo %></b>, solicitada por <b><%= @dueno.nombre.capitalize%> <%= @dueno.apellido.capitalize %></b>.</p>
<p>Puede contactarse con <b><%= @dueno.nombre.capitalize%> <%= @dueno.apellido.capitalize %></b> mediante su correo electronico:</p>
<p>- <%= @dueno.email %></p>
<p>Saludos cordiales,</p>

<p>Equipo de Una Gauchada</p>