<p>Hola <%= @usuario.email %>!</p>
<p>Usted ha sido elegido para resolver la gauchada con título: "<%= @gauchada.titulo %>"" por el usuario: "<%= @dueno.nombre.capitalize%> <%= @dueno.apellido.capitalize %>".</p>
<p>
	Puede contactarse con <%= @dueno.nombre.capitalize%> <%= @dueno.apellido.capitalize %> mediante su correo electronico:
	<%= @dueno.email %>
</p>
<p>Saludos cordiales wachin, </p>
<p>Una Gauchada</p>