<div class="border-form-div">
<h2> Editar logro </h2>
<%= form_for (@logro) do |f| %>
	<%= f.label :etiqueta, 'Etiqueta' %>
	<%= f.text_field :etiqueta, required: true, placeholder: 'Ingrese etiqueta' %>
	<%= f.label :puntosMin, 'Puntos Mínimos' %>
	<%= f.number_field :puntosMin, required: true, placeholder: 'Ingrese puntos' %> 
	<br/>
	<hr/>
	<%= f.submit 'Guardar', class: 'btn btn-primary' %>
	<%= link_to "Cancelar", logros_path, class: 'btn btn-default ' %>
<% end %> 
</div>