<% session[:return_to] ||= request.referer %>
<div class="row">
	<div class="col-md-3">
		<br/>
	</div>
	<div class="col-md-6"><%= link_to "Crear logro", {:controller => "logros", :action => "new"}, class: 'btn btn-primary btn-block' %></div>
	<div class="col-md-3">
		<br/>
	</div>
</div>
<br/>

<div class="border-list-div">
	<h1> Listado de Logros </h1>
	<table class="table">
		<thead>
			<tr>
				<th style="font-size:18px"> Etiqueta </th>
				<th style="font-size:18px"> Puntos Mínimos </th>
				<th style="font-size:18px"> Opciones </th>
			</tr>
		</thead>
		<tbody>
			<% logros = Logro.all.order(:puntosMin) %>
			<% logros.each do |l| %>
			<tr>
				<td style="font-size:18px"> <%= l.etiqueta %> </td>
				<td style="font-size:18px"> <%= l.puntosMin %> </td>
				<td style="font-size:18px">
					<%= link_to "Editar", edit_logro_path(l), class: 'btn btn-primary btn-md' %>
					<% if l.id == 1 %>
					<%= link_to "Eliminar", l, method: :delete , class: 'btn btn-danger disabled btn-md' %>
					<% else %>
					<%= link_to "Eliminar", l, method: :delete , data: {confirm: '¿Esta seguro de eliminar este logro?'}, class: 'btn btn-danger btn-md' %>
					<% end %>				
				</td>
			</tr>
			<% end %>

			<% if logros.size == 0 %>
			<tr> <td colspan="3"> No hay logros </td> </tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "Volver", session.delete(:return_to), class: 'btn btn-info btn-lg' %>
</div>


