<%= link_to "Crear logro", {:controller => "logros", :action => "new"}, class: 'btn btn-primary btn-block' %>
<br/>
<hr/>

<h1> Listado de Logros </h1>
<table class="table table-bordered">

	<tr>
		<th> Etiqueta </th>
		<th> Puntos Minimos </th>
		<th> Puntos Maximos </th>
		<th> Opciones </th>
	</tr>

	<% logros = Logro.all.order(:puntosMin) %>
	<% logros.each do |l| %>
		<tr>
			<td> <%= l.etiqueta %> </td>
			<td> <%= l.puntosMin %> </td>
			<td> <%= l.puntosMax %> </td>
			<td>
				<%= link_to "Editar", edit_logro_path(l), class: 'btn btn-info btn-xs' %>
				<%= link_to "Eliminar", l, method: :delete , class: 'btn btn-warning btn-xs' %>
			</td>
		</tr>
	<% end %>

	<% if logros.size == 0 %>
		<tr> <td colspan="3"> No hay logros </td> </tr>
	<% end %>

</table>

