<div class="border-form-div">
<h2> Crear logro </h2>
<%= form_for(@logro) do |f| %>
	<div class="field">
	<%= f.label :etiqueta, 'Etiqueta' %>
	<%= f.text_field :etiqueta, required: true, placeholder: 'Ingrese etiqueta' %>
	</div>
	<div class="field">
	<%= f.label :puntosMin, 'Puntos Mínimos' %>
	<%= f.number_field :puntosMin, required: true, placeholder: 'Ingrese puntos' %> 
	</div>
	<div class="actions">
	<%= f.submit 'Crear', class: 'btn btn-primary' %>
	<%= link_to "Cancelar", logros_path, class: 'btn btn-default ' %>
	</div>
<% end %> 
</div>