<div class="navbar navbarcustom navbar-fixed-top">
  <div class="navbar-header pull-left">
    <a class="navbar-brand" href="<%= root_path %>">
      <div style="display: inline-block;">
        <%= image_tag "logo_sm_w.png", title:"logo", style: "max-height: 40px; margin-top: -10px;"%>
      </div> Una Gauchada
    </a>
  </div>
  <div class="navbar-header boton pull-right">
      <% if usuario_signed_in? %>
      <% ape = current_usuario.apellido.capitalize %> 
      <% nom = current_usuario.nombre.capitalize %> 
      <div class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown">
          <table class="boton" style="">
            <tr>
              <td style="width: 20px">
                <span class="caret" style="margin-left: 6px;margin-top: 40px"></span>
              </td>
              <td style="width: 50px">
                <div class="image-container-nav" style="">
                <% if current_usuario.foto.presence %>
                <%= image_tag current_usuario.foto, title:"FotoUsuario", class:"img-sm"%>
                <% else %>
                <%= image_tag "foto_stock.png", title:"FotoUsuario", class:"img-sm"%>
                <% end %>
                </div>  
              </td>
              <td style="width: 20px">
                
              </td>
            </tr>
          </table>  
        </a>
        <ul class="dropdown-menu dropdown-menu-right" style="margin-top: 0px;">
          <li><a href="<%= usuario_path(:id => current_usuario.id) %>">Mi perfil</a></li>
          <li><a href="<%= edit_usuario_registration_path %>">Editar mi perfil</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="<%= compras_path%>"> Comprar puntos</a></li>
          <% if usuario_es_admin? %>
          <li role="separator" class="divider"></li>
          <li><a href="<%= logros_path %>"><strong> Listado de Logros </strong></a></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Cerrar Sesion", destroy_usuario_session_path, :method => :delete %></li>
        </ul>
      </div>
      <% else %>
        <table>
          <tr>
              <div class= "link">
                <a class= "link-text" href="<%= new_usuario_session_path %>">Iniciar Sesión</a>
              </div>
          </tr>
          <tr>
              <div class= "link">
                <a class= "link-text" href="<%= new_usuario_registration_path %>">Registrate</a>
              </div>
          </tr>
        </table>
      <% end %>
  </div>
</div>
